<r-grid columns=4 columns-s=2 class="navigation">
  <r-cell span=1+1 span-s=1+1>
    <p><a href="/" title="Link zur Startseite">
      <img src="assets/images/logo.gif" class="h-1 fill">
    </a>
  </p>
  <a href="/" title="Link zur Startseite">This is Joy</a><br>
  <a href="malerei" title="Link zur Malerei">Malerei</a><br>
  <a href="fotografie" title="Link zur Fotografie">Fotografie</a><br>
  <a href="seelenlandschaften" title="Link zu den Seelenlandschaften">Seelenlandschaften</a><br>
  <a href="tempel" title="Link zu den Tempeln">Tempel</a><br>
  <a href="kuschelbilder" title="Link zu den Kuschelbildern">Kuschelbilder</a><br>
  <a href="erotik" title="Link zu Eortik Art">Erotik Art</a><br>
  <a href="facepainting" title="Link zum Pacepainting">Facepainting</a>
</r-cell>
<r-cell span=2+1 span-s=2+1>
  <br><br>
  <a href="auftraege" title="Link zu den Auftragsarbeiten">Auftragsarbeiten</a><br>
  <a href="deko" title="Link zu Joy's Dekoration">Dekoration</a><br>
  <a href="workshops" title="Link zu den Workshops">Kreativ mit Kids</a><br>
  <a href="ausstellungen" title="Link zu den Ausstellungen">Ausstellungen</a><br><br>
  <a href="cv" title="Link zum Booking">CV + Booking</a><br>
  <a href="https://www.youtube.com/channel/UCu23l0Ma-Pp022_hn2j-JrA" target="_blank" title="Externer Link zum YouTube-Kanal">YouTube↗</a><br>
</r-cell>
<r-cell span=4+1 span-s=1+2 class="hide-small">
  <h3>DAS WAGNIS IST DIE EINZIGE GARANTIE FÜR DIE WAHRE LEBENDIGKEIT</h3>
</r-cell>
</r-grid>
